@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

html{
	scroll-behavior: smooth;
}

body{
	background-color: whitesmoke;
	font-family: Montserrat;
	margin: 0;
	color: black;
}

header{
	display: grid;
	grid-template-columns: 25% 75%;
	height: 10vh; 
    margin: 0;
    background-color: white;
    position: fixed;
    top: 0;
	width: 100%;
	z-index: 100;
}

.navItem{
	background-image: linear-gradient(transparent calc(65% - 1px), #7ed957 5px);
	background-size: 0;
	background-repeat: no-repeat;
	background-position: bottom;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

.navItem:hover{
	background-size: 100%;
}

ul#nav{
	display: grid;
	grid-template-columns: repeat(6, 15%);
	list-style: none;
	text-align: center;
	margin-left: 1.7vw;
	margin-top: 4vh;
}

img#logo{
	width: 13vw;
	height: auto;
	margin: 2.3vh 0vw 0vh 6vw;
}

a.navItem{
	text-decoration: none;
	color: black;
	font-weight: 700;
}

.btn-group{
	color: black;
    font-weight: 700;
    width: 4vw;
    height: 4.5vh;
    margin-top: -1vh;
    margin-left: 6vw;
}

.btn-primary, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:hover {
    background-color: #7ed957;
    border-color: #7ed957;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.judul{
	text-align: center;
	font-weight: 600;
	font-size: 2vw;

}

.page1{
	background-image: url('Wanderlust.png');
    background-size: cover;
    height: 980px;
	position: relative;
	background-position: bottom;
}

.cp{
    color: lightgrey;
    text-align: center;
    font-weight: 200;
    margin-top: 0vh;
}

.line{
	height: 10vh;
}

.page2{
	height: 600px;
	width: 1800px;
}

.linktravel{
	margin-top: 1vh;
	margin-left: 8.3vw;
}

.linktravel1{
	margin-top: 1vh;
	margin-left: 12vw;
}

@keyframes fade-out{
    from {transform: translateY(12px); opacity: 0%;}
    to {transform: translateY(0px); opacity: 100%;}
}

#article-spawner{
    height: auto;
	margin-top: -8vh;
	margin-left: 4vw;
    transform: translate(50px, 80px);
}

#card{
    display: inline-block;
    width: 360px;
    border-radius: 5px;
    background-color: white;
    font-size: smaller;
    margin: 0vh 1.3vw 4vh;
    animation-name: fade-out;
    animation-duration: 0.8s;
}

#card img{
    width: 100%;
    height: 60%;
    border-radius: 5px 5px 0 0;
}

#card #description {
    padding: 5px;
}
	
#card a,a::before,a::after{
    font-size: 12px;
    margin: 8px 0 0 12px;
}
	
#card a:hover{
    color: red;
}

#card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: default;
}

.page3{
	height: 934px;
}

.baca{
	margin-left: 46vw;
}

.carousel-caption{
    text-shadow: 2px 2px #000000;
}

.carousel-indicators .active{
    background-color: gray;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
 
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.captionCar{
    color:black;
    padding-left: 24.8vw;
    padding-right: 24.8vw;
    padding-bottom: 5vh;
	padding-top: 3vh;
	text-align: justify;
	font-size: 1.8vh;
	text-indent: 4em;
}

.page4{
	height: 750px;
}

.my-3{
	border: 10px;
	border-radius: 50%;
}

.col-sm .card{
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
}

.card:hover{
	box-shadow: 0px 0px 20px rgb(172, 172, 172);
	transition: all 0.2s ease-in-out;
}

.fa{
	color: #7ed957;
}

.name-text{
	font-size: 25px;
	font-weight: 500;
}

.title{
	font-weight: 400;
}

a.disabled{
	pointer-events: none;
	cursor: default;
	color: black;
}

.disabled{
	color: black;
}

footer{
	height: 10vh; 
    margin: 0;
}

.binus{
	width: 5vw;
	height: auto;
	margin-left: 47vw;
	margin-bottom: 2.5vh;
}

.copy{
	text-align: center;
}